server_name = [ "", "" ]
authorized_keys = ""
linode_token = ""
linode_image = [ "", "" ]
linode_region = ""
linode_type = ""
linode_tags = [ "", "" ]
cloudflare_token = ""
cloudflare_zone_id = ""
cloudflare_account_id = ""
